<h1>Welcome to Ping-Pong!!</h1>
<form action="/number_added" method="post">
  <label for="input">Please enter a number.</label>
  <input id="number" name="number" type="number">
  <button type="submit">Submit</button>
</form>  
